.loadComponent {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  background-color: rgb(43, 41, 41);
  z-index: 99;
  text-align: center;
}

.loadComponentFade {
  background-color: rgba(43, 41, 41, 0);
  transition: 2s ease-in-out;
}

.lds-facebook {
  margin-top: 25%;
  display: inline-block;
  position: relative;
  width: 100px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 30px;
  background: rgb(207, 21, 21);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 0px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 49px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 98px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 164px;
  }
  50%,
  100% {
    top: 24px;
    height: 82px;
  }
}
