.content {
  width: 100%;
}
.cards {
  padding: 0 2em;
}

.medals {
  width: 69%;
  min-height: 500px;
  float: right;
}
.preview {
  width: 27%;
  height: 500px;
  padding: 1em;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #ffffff54;
}
.content-prev .project-image {
  display: inline-table;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border: 20px solid white;
}
.content-prev p {
  font-size: 15px;
}
.card {
  width: 30%;
  float: left;
  margin: 5px 10px;
  padding: 10px;
  background: #52424544;
  border-radius: 10px;
}
.card-body {
  font-size: 18px;
  text-align: justify;
  min-height: 150px;
}
.card .divisor {
  height: 2px;
  background-color: #80081ef6;
}
.tags {
  text-align: left;
}
.tags div {
  font-size: 1rem;
  border: 2px solid #fea443;
  padding: 2px 5px;
  border-radius: 10px;
  margin: 2px 5px;
  width: fit-content;
  float: left;
}
.medal {
  width: 48%;
  margin: 5px;
  border-radius: 5px;
  float: left;
  cursor: pointer;
  align-content: center;
  background-color: #a5aaa3;
}
.medal p {
  text-align: justify;
}
.medal:after {
  display: flex;
  content: '';
  border-bottom: solid 8px #c79100;
  transform: scaleX(0);
  transition: transform 150ms ease-in-out;
}
.active:after {
  border-bottom: solid 8px #c79100;
  transform: scaleX(0.5);
}
.medal img {
  width: 100%;
  margin-bottom: -12px;
}
.medal h1 {
  color: white;
  font-size: 1em;
}
.medal:hover:after {
  transform: scaleX(1);
}
.project-description {
  text-align: justify;
}

@media only screen and (max-width: 1100px) {
  .medals {
    width: 50%;
  }
  .medal {
    width: 100%;
  }
  .preview {
    width: 40%;
  }
}
@media only screen and (max-width: 800px) {
  .medals {
    width: 100%;
  }
  .medal {
    width: 100%;
  }
  .preview {
    width: 95%;
  }
}
